* {
  margin  : 0;
  padding : 0;
}

.BPMSlider {
  position   : fixed;
  width      : 90%;
  height     : 120px;
  top        : 50%;
  left       : 5%;
  margin-top : -60px;
  background : black;
  opacity    : 0.9;
  z-index    : 10;

  &--hidden { display: none; }

  &__Input {
    position    : absolute;
    left        : 100px;
    width       : calc(100% - 100px);
    height      : 100%;
    font-weight : bold;
  }

  &__Label {
    position       : absolute;
    left           : 0;
    width          : 100px;
    height         : 100%;
    line-height    : 120px;
    vertical-align : middle;
    color          : white;
  }
}

.Cyro {
  position : fixed;
  left     : 0;
  top      : 0;
  width    : 100%;
  height   : 100%;
}

.Clicker {
  position : fixed;
  left     : 0;
  top      : 0;
  width    : 100%;
  height   : 100%;
  z-index  : 2;
}
